.game-details-container {
  padding-bottom: 80px;
  overflow: hidden;
  .hero {
    img {
      width: 100%;
      max-height: 60vh;
      object-fit: cover;
    }
  }

  .game-details {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: $osc-font;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    & > div:first-child {
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    // Selects the description
    & > p {
      font-size: 1.8rem;
    }

    // Selects the div containing the prices
    .prices-container {
      display: flex;
      // justify-content: flex-end;
      gap: 40px;
      justify-content: center;
      align-items: flex-end;
      h4 {
        font-size: 2rem;
      }
      & > div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 20px;
      }
      .prev-price {
        text-decoration: line-through;
        font-size: 1.5rem;
      }

      .price {
        font-size: 2rem;
      }
    }
    .get-btn-container {
      align-self: flex-start;
      padding: 15px;
      position: relative;
      cursor: pointer;

      button {
        text-transform: uppercase;
        background: none;
        border: none;
        outline: none;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-align: center;
        width: 100%;
        // cursor: pointer;
        pointer-events: none;
      }
    }
  }

  @media (max-width: $tablet-bp) {
    .hero {
      img {
        height: 60vh;
      }
    }

    .game-details {
      display: block;
      & > div:first-child {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
      // Selects the description
      & > p {
        font-size: 1.5rem;
      }

      // Selects the div containing the prices
      .prices-container {
        margin: 20px 0;
        gap: 10px;
        justify-content: flex-start;
        h4 {
          font-size: 1.8rem;
        }
        & > div {
          justify-content: flex-end;
          align-items: flex-end;
          gap: 10px;
        }
        .prev-price {
          text-decoration: line-through;
          font-size: 1.5rem;
        }

        .price {
          font-size: 1.8rem;
        }
      }
      .get-btn-container {
        margin-top: 20px;
        button {
          font-size: 1.7rem;
        }
      }
    }
  }

  @media (max-width: $mobile-bp) {
    .game-details {
      & > div:first-child {
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
      // Selects the description
      & > p {
        font-size: 1.2rem;
      }

      // Selects the div containing the prices
      .prices-container {
        h4 {
          font-size: 1.2rem;
        }
        .prev-price {
          font-size: 1.2rem;
        }

        .price {
          font-size: 1.4rem;
        }
      }
      .get-btn-container {
        button {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.comment-section {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: $osc-font;
  margin-top: 20px;
  h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .comment {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 2rem;
    }
  }
  & > h3{
    font-size: 2rem;
    margin: 20px 0;
  }
  form{
    display: flex;
    gap: 10px;
    input{
      width: 100%;
      outline: none;
      padding: 10px;
      font-size: 1.2rem;
    }
    button{
      background-color: $primary-tint-color;
      color: white;
      border: none;
      padding: 5px;
      font-size: 1.1rem;
      transition: .25s ease-out;
      outline: none;
      cursor: pointer;
      
      &:hover{
        background-color: $secondary-color;
      }
    }

  }
  @media (max-width: $tablet-bp) {
    h2 {
      font-size: 2rem;
    }
    .comment {
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
