.login-container {
  padding: 100px 0;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  font-family: $osc-font;
}

.form-input {
  margin-bottom: 10px;
  
  label {
    display: block;
    font-size: 1.5rem;
  }

  input {
    width: 100%;
    padding: 10px;
    outline: none;
  }
}

.login-btns-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  & > div{
    width: 100%;
  }
}
