.user-info{
    width: 90%;
    max-width: 1000px;
    margin: 100px auto;
    font-family: $osc-font;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // column-gap: 20px;
    // row-gap: 40px;
}