.animated-bg {
  align-self: flex-start;
  padding: 15px;
  position: relative;
  cursor: pointer;

  .list-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    z-index: -1;
    div {
      transition: 0.25s ease-out;
      height: 100%;
    }
    .secondary-color {
      background-color: $primary-tint-color;
      width: 100%;
    }

    .tint-color {
      background-color: $secondary-color;
      width: 0;
    }
  }
  &:hover {
    .secondary-color {
      width: 0;
    }

    .tint-color {
      width: 100%;
    }
  }

  button {
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
    width: 100%;
    // cursor: pointer;
    pointer-events: none;
  }
}
