.filter-games-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  & > * {
    padding: 10px;
    outline: none;
  }

  input {
    width: 90%;
    font-size: 1.2rem;
  }

  button {
    cursor: pointer;
    background-color: $primary-tint-color;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.1rem;
    transition: 0.25s ease-out;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
