.game-card {
  height: 50vw;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 300px;
  overflow: hidden;
}
.bg-image {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;

  &:hover {
    filter: blur(5px);
  }
}

.game-info {
  background-color: $primary-tint-color;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  max-width: 40%;

  @media (max-width: $mobile-bp) {
    position: static;
    max-width: 100%;
    .game-title {
      text-align: center;
      background-color: $secondary-color;
      // width: 300px;
      width: 100%;
      font-size: 1.2rem;
    }
  }

  @media (max-width: $tablet-bp) {
    .game-desc {
      display: none;
    }
  }
}

.game-title {
  font-size: 2rem;
}

.game-price {
  color: white;
  background-color: $primary-tint-color;
  position: absolute;
  // bottom: 10px;
  bottom: 20px;
  right: 20px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  h3 {
    text-align: center;
    width: 100%;
    &:first-child {
      background-color: $secondary-color;
    }
  }

  @media (max-width: $mobile-bp) {
    bottom: 0;
    right: 0;
  }
}
