.main-header {
  height: 45vh;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $hero-bg;
  background-blend-mode: multiply;
  max-width: 100vw;

  h1 {
    padding-top: 15vh;
    color: white;
    text-align: center;
    font-family: $pixel-font;
    font-size: 4rem;

    @media (max-width: $tablet-bp) {
      font-size: 2rem;
      padding-top: 25vh;
    }

    @media (max-width: $mobile-bp) {
      font-size: 1.4rem;
    }
  }
}
