$navbar-height: 84px;

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px $padding1;
  border-bottom: 1px solid #ffffff49;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  transition: 0.5s;

  &.dark {
    background-color: $hero-bg;
    height: calc(#{$navbar-height} - 10px);
    z-index: 2;
  }

  img {
    width: 50px;
    cursor: pointer;
    @media (max-width: $mobile-bp) {
      width: 40px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    color: white;
    width: 350px;
    justify-content: space-between;

    li {
      cursor: pointer;
      font-family: $pixel-font;
      font-weight: 700;
      font-size: 1.5rem;
      a {
        text-decoration: none;
        color: white;
        transition: 0.5s;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    @media (max-width: $tablet-bp) {
      background-color: $hero-bg;
      position: absolute;
      right: 0;
      height: calc(100vh - #{$navbar-height});
      top: $navbar-height;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 50vw;
      transform: translate(100%);
      transition: 0.5s ease-in;
      z-index: 1000;

      li {
        padding: 15px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
        opacity: 0;
      }

      &.active {
        transform: translate(0);
        li {
          opacity: 1;
        }
      }
    }
  }

  &.active {
    background-color: $hero-bg;
  }
}

.burger {
  display: none;
  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  @media (max-width: $tablet-bp) {
    display: block;
    div {
      transition: 0.5s ease-in;
    }
    &.active {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}
